*{
    padding: 0;
    margin: 0;
}
.fullScreen{
   height: 100vh;
   width: 100vw;
   background-image: url("../images/blog2Pic.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0.95;

}
.container{
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h1{
    font-size: 38px;
    color:white;
    font-weight: bold;
    
}
h1::first-letter{
    font-size: 2em;
    font-weight: bolder;
    color: rgb(183, 16, 27);
}
h2{
    font-size: 48px;
    color: rgb(183, 16, 27);
    font-weight: bolder;
    


}
button{
    
    width: 130px;
    background-color:rgb(183, 16, 27);
    color: white;
    font-size: medium;
    border-radius: 4px;
    margin-top: 30px;
    border: none;
    padding:8px;
    
}

@media screen and (min-width: 1200px) {
    h1{
        font-size: 38px;

    }
    h2{
        font-size: 48px;

    }
    button{
        width: 130px;

    }

    
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
    h1{
        font-size: 28px;

    }
    h2{
        font-size: 38px;

    }
    button{
        width: 100px;

    }

    
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;

    }
    h2{
        font-size: 30px;

    }
    button{
        width: 80px;
        padding: 4px;
        font-size: smaller;

    }
    .container{
       width: 80%;
       padding: 30px;
    }
    .fullScreen{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        overflow-x: hidden;
        
     
     }

    
}